// reset: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

// temp commented for visiblity
// ol, ul {
//     list-style: none;
// }

img {
    max-width: 100%;
    height: auto;
}

// content

$accent-blue: hsl(205, 65%, 52%);
$accent-gray: hsl(47, 18%, 85%);
$project-border: hsl(33, 86%, 58%);


#container {
    font-family: sans-serif;
    .strong {
        font-weight: 800;
    }
    .padding-15 {
        padding: 1.5rem;
    }
    color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    #sidebar {
        grid-row: span 2;
        background-color: $accent-blue;
    }
    #header {
        grid-column: 2;
        background-color: honeydew;
        #nav {
            display: flex;
            justify-content: space-between;
            input {
                background-color: $accent-gray;
                border-radius: 1.5rem;
                border-style: none;
            }
        }
        #post {
            .post-button {
                background-color: $accent-blue;
                border-radius: 1.5rem;
                border-style: none;
                padding: .75rem 2.5rem;
            }
        }
    }
    #meat {
        grid-column: 2;
        background-color: magenta;
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 1.5rem; // temp? probably move me to more general selector
        .section-heading { // font size
            font-size: larger;
        }
        #project-section {
            grid-column: 1;
            grid-row: span 2;
            background-color: palegreen;
            #project-content-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr; // temp, add autofit & minmax
                gap: 1.5rem; // temp?
                .project-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1rem;
                    padding: 1rem;
                    border-left-color: $project-border;
                    border-left-width: 0.5rem;
                    border-left-style: solid;
                    border-radius: .25rem;
                    background-color: white;
                    .project-heading {
                        font-size: larger;
                    }
                    .project-icons {
                        align-self: flex-end;
                    }
                }
            }
        }
        #announcement-section {
            grid-column: 2;
            background-color: antiquewhite;
        }
        #trending-section {
            grid-column: 2;
            background-color: teal;
        }
    }
}