// reset: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

temp commented for visiblity
ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

// content

$accent-blue: hsl(205, 65%, 52%);
$accent-gray: hsl(0, 0%, 85%);
$accent-gray-font: hsl(0, 0%, 50%);
$project-border: hsl(33, 86%, 58%);
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../assets/Roboto/Roboto-Bold.ttf);
}

.temp-avatar-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#container {
    font-family: 'Roboto-Regular';
    background-color: $accent-gray;
    .strong {
        font-family: 'Roboto-Bold';
    }
    .small {
        font-size: small;
    }
    .smaller {
        font-size: smaller;
    }
    .section {
        padding: 1.5rem;
    }
    .card { // indv projects, the announcements and trending section
        padding: 1rem;
        border-radius: .25rem;
        background-color: white;
        box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.15);
    }
    .icon-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .svg-icon-black {
        cursor: pointer;
    }
    color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: clamp(15vh, 25vh, 1fr) 5fr;
    #sidebar,
    #header {
        padding-top: 1rem; // reduce top of page
    }
    #sidebar {
        grid-row: span 2;
        background-color: $accent-blue;
        color: white;
        #sidebar-title {
            padding-top: .55rem; // algin with search bar
        }
        #sidebar-title, .sidebar-links {
            padding-bottom: 1rem;
        }
        .sidebar-link-item {
            padding-block: 0.5rem;
            display: flex; // keep icons at baseline with link
            align-items: center;
            gap: .5rem;
        }
    }
    #header {
        grid-column: 2;
        background-color: white;
        box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.15);
        z-index: 1; // so box shadow covers meat section
        #nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            #nav-search {
                input {
                    background-color: $accent-gray;
                    border-radius: 1.5rem;
                    border-style: none;
                    height: 2rem;
                    width: 25rem;
                    text-indent: 1rem;
                }
            }
        }
        #post {
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            #post-greeting {
                display: flex; // align avatar to left of text
                align-items: center;
                gap: .5rem;        
            }
            .post-button {
                background-color: $accent-blue;
                border-radius: 1.5rem;
                border-style: none;
                padding: .75rem 2.5rem;
            }
            .post-button:hover {
                background-color: darken($accent-blue, 10%);
                cursor: pointer;
            }
            .post-button:active {
                background-color: darken($accent-blue, 40%);
                cursor: pointer;
            }
        }
    }
    #meat {
        background-color: $accent-gray;
        .subsection-heading {
            padding-bottom: .5rem;
        }
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem; // temp? probably move me to more general selector
        #project-subsection {
            grid-column: 1;
            grid-row: span 2;
            #project-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); // thanks kevin https://www.youtube.com/watch?v=z2kuC7w9emE
                gap: 1.5rem; // temp?
                .project-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1rem;
                    border-left-color: $project-border;
                    border-left-width: 0.5rem;
                    border-left-style: solid;
                    .project-icons {
                        align-self: flex-end;
                    }
                }
            }
        }
        .announcement-item,
        .trending-item {
            padding: 0.5rem;
            .subsection-text {
                color: $accent-gray-font
            }
        }
        #announcement-subsection {
            grid-column: 2;
            .announcement-item:not(:last-child) { 
                border-bottom: 0.1rem solid $accent-gray; // 'hrs' between items
            }
        }
        #trending-subsection {
            grid-column: 2;
            .trending-item {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}
