// reset: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

// content

$accent-main: hsl(0, 60%, 60%);
$accent-gray: hsl(0, 0%, 85%);
$accent-gray-font: hsl(0, 0%, 37%);
$post-border: hsl(33, 86%, 58%);

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../assets/Roboto/Roboto-Bold.ttf);
}

.temp-avatar-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#container {
    font-family: 'Roboto-Regular';
    background-color: $accent-gray;
    .strong {
        font-family: 'Roboto-Bold';
    }
    .small {
        font-size: small;
    }
    .smaller {
        font-size: smaller;
    }
    
    .section {
        padding: .75rem;
        @media (min-width: 40em) {
            padding: 1.5rem; // more space around when larger page
        }
    }
    .card { // indv posts, the announcements and popular section
        padding: 1rem;
        border-radius: .25rem;
        background-color: white;
        box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.15);
    }
    .icon-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        flex-shrink: 0;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .svg-icon-black {
        cursor: pointer; // do not want pointer on the sidebar for now (temp?)
        fill: $accent-gray-font;
    }
    .svg-icon-black:hover {
        fill: black;
    }
    .svg-icon-white {
        fill: white;
    }
    .svg-message { // reflect
        transform: scaleX(-1);
    }
    color: black;
    display: grid;
    @media (min-width: 40em) {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: clamp(15vh, 25vh, 1fr) 5fr;    
    }
    @media (max-width: 40em) { // messing up when not done inside a second media query
        grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        grid-template-columns: 1fr;
    }
    #sidebar-section {
        @media (max-width: 40em) { // normal screen size 
            display: none; // https://www.youtube.com/watch?v=VQraviuwbzU
        }
        grid-row: span 2;
        grid-column: 1;
        background-color: $accent-main;
        color: white;
        #sidebar-title {
            padding-top: .55rem; // algin with search bar
        }
        #sidebar-title, .sidebar-links {
            padding-bottom: 1rem;
        }
        .sidebar-link-item {
            padding-block: 0.5rem;
            display: flex; // keep icons at baseline with link
            align-items: center;
            gap: .5rem;
        }
    }
    #mobile-header-section {
        @media (min-width: 40em) {
            display: none; // hidden large scr
        }
        background-color: $accent-main;
        color: white;
        padding: 1rem;
        width: 100vw;
        margin-inline-start: 50%; // https://www.youtube.com/watch?v=MywezIxlp8Y 'break out of the container' section
        transform: translateX(-50%);
    }
    #nav-publish-section {
        grid-column: 1;
        @media (min-width: 40em) {
            grid-column: 2;
        }
        background-color: white;
        box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.15);
        z-index: 1; // so box shadow covers meat section
        .nav-publish-subsection:not(:last-child) { // padding btw each div
            padding-bottom: 1rem;
        }
        #nav-subsection {
            // background-color: green;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 40em) {
                padding-top: 1rem;
            }
            #nav-search {
                input {
                    background-color: $accent-gray;
                    color: black;
                    border-radius: 100vw;
                    border-style: none;
                    height: 2rem;
                    width: min(75vw, 25rem);
                    text-indent: 1rem;
                }
            }
        }
        #publish-subsection {
            //background-color: aqua;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #publish-greeting {
                display: flex; // align avatar to left of text
                align-items: center;
                gap: .5rem;        
            }
            .publish-button {
                background-color: $accent-main;
                color: white;
                border-radius: 100vw;
                border-style: none;
                padding: .75rem 2.5rem;
            }
            .publish-button:not(:last-child) { 
                margin-right: 1rem;
            }
            .publish-button:hover {
                background-color: darken($accent-main, 10%);
                cursor: pointer;
            }
            .publish-button:active {
                background-color: darken($accent-main, 40%);
                cursor: pointer;
            }
        }
    }
    #meat-section {
        background-color: $accent-gray;
        .subsection-heading {
            padding-block: .5rem;
        }
        grid-column: 1; // on small screen
        grid-template-columns: 1fr; // on small screen
        @media (min-width: 40em) {
            grid-column: 2;
            // https://www.youtube.com/watch?v=VQraviuwbzU
            grid-template-columns: 
            minmax(min(20rem, 100%), 4fr)
            minmax(min(15rem,100%), 1fr)
            ; // col 2 announcements and popular
        }
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr); // to reduce extra vertical spacing
        gap: 1.5rem; // temp? probably move me to more general selector
        #post-subsection {
            grid-column: 1;
            grid-row: span 2;
            #post-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr)); // thanks kevin https://www.youtube.com/watch?v=z2kuC7w9emE
                gap: 1.5rem;
                .post-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1rem;
                    border-left-color: $post-border;
                    border-left-width: 0.5rem;
                    border-left-style: solid;
                    .post-heading {
                        padding-block: .5rem;
                    }
                    .post-text {
                        color: $accent-gray-font;
                    }
                    .post-icons {
                        align-self: flex-end;
                    }
                }
            }
        }
        #announcement-popular-subsection {
            grid-column: 1;
            @media (min-width: 40em) {
                grid-column: 2;
            }
            .subsection-content {
                padding-bottom: 1rem;
            }
            .subsection-heading {
                padding-block: 0.2rem;
            }
            .subsection-text {
                color: $accent-gray-font;
            }
            .announcement-item:not(:last-child) { 
                border-bottom: 0.1rem solid $accent-gray; // 'hrs' between items
            }
            .announcement-item,
            .popular-item {
                padding: 0.5rem;
            }
            .popular-item {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}
